.cont-main{
    background: none;
    margin: auto;
    width: 90%;
    
}
.cont-main-hijo{
    display: flex;
    margin: auto;
    width: 50%;
    height: 55%;
}

.cont-title{
    display: flex;
    
    font-size: 35px;
}
form{
    background: none;
    margin: auto;
    color: white;
    font-weight: 700;
    width: 45%;
    
    
}
input{
    color: white;
    background: none;
    border: none;
    border-radius: 0px;
}
input:hover{
    color: white;
    background: none;
    border: none;
    transition: 1s;
    border-bottom: solid 1px white;
}



.table{
    margin: auto;
    width: 700px;

}
th{
    color: white;
    background: none;
}td{
    color: white;
    background: none;
}