.cont-main{
    background: none;
    margin: auto;
    width: 90%;
    
}
.cont-main-hijo{
    display: flex;
    margin: auto;
    width: 50%;
    height: 55%;
}
form{
    color: white;
    background: none;
    margin: auto;
    width: 45%;
    
    
}

.table{
    width: 700px;
    margin: auto;
}