.cont-button{
    display: flex;
    justify-content: end;
    width: 100%;
}
button{
    background: red;
    color: white;
    border: solid 1px white;
    padding: 5px;
    
}
.cont-main{
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
    width: 100%;
    height: 420px;
}

.card{
    margin: 10px;
}