<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header-main">
        <div class="header-cont">
            <a class="header-cont-text" href="">Inicio</a>
        </div>
        <div class="header-cont2">
            <a [routerLink]="['inicio']" href="" class="header-cont2-clases">INICIO</a>
            <a [routerLink]="['store']" href="" class="header-cont2-clases">STORE</a>
            <a [routerLink]="['contactos']" href="" class="header-cont2-clases">CONTACTOS</a>
            <a [routerLink]="['ayuda']" href="" class="header-cont2-clases">AYUDA</a>
        </div>
    </div>
</body>
</html>
