.header-main{
    display: flex;
    background: black;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
}

.header-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    margin: 5px;
    
}
.header-cont-text{
    text-decoration: none;
    font-size: 35px;
    color: white;
}.header-cont-text:hover{
    color: red;
    font-size: 39px;
    transition: 2s;
}

.header-cont2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    width: 500px;
    margin: 5px;
}

.header-cont2-clases{
    text-decoration: none;
    color: white;
    padding: 6px;
}.header-cont2-clases:hover{
    color: red;
    border-bottom: solid 1px white;
    transform: translateY(10px);
    transition: 1.5s;
}