<br>
<div class="cont-main">
    <div class="cont">
        <div class="card" style="width: 18rem;" *ngFor="let producto of productos">
            <img src="{{producto.img}}" class="card-img-top" alt="...">
            <div class="card-body">
              <hr>
              <h5 class="card-title">{{producto.titulo}}</h5>
              <p class="card-text">{{producto.descripcion}}</p>
              <p style="font-size: 15px; font-weight: 700;" class="card-text">{{producto.precio}}</p>
              <hr>
              <a  href="#" class="btn btn-primary" (click)="RegistrarProductos()">REGISTRAR</a>
            </div>
        </div>
    </div>
</div>
