.cont-main{
    background: none;
}
.cont{
    display: flex;
    align-items: center;
    
    margin: 5px;
    height: 420px;
}
.card{
    margin: auto;
    background: none;
    color: white;
    border: solid 1px white;
}